[user]
        name  = Brian Balser
        email = balser@users.noreply.github.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	co = checkout
	ss = status -sb
	s  = status
[color "status"]
	branch    = bold magenta
	added     = green
	changed   = yellow
	untracked = blue
[core]
	excludesfile = ~/.gitignore
	editor = vim
[mergetool]
	keepBackup = false
[help]
	autocorrect = -1
